@import "tailwindcss";

@theme {
  --color-primary: #adb5bd;
  --color-secondary: #f8f9fa;
  --color-background-dark: #212529;
  --color-light-text: #f8f9fa;
  --color-dark-text: #212529;
}

.dark{
  --color-primary: #434547;
  --color-secondary: #191b1c;
  --color-dark-text: #c3cbd4;
}